<header class="header">
  <div>
    <a href="/">
      <h1 class="title">Mini Message Board</h1>
    </a>
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/new-msg" class="nav-link">New Message</a></li>

    </ul>
  </nav>
</header>