/* ===================
   JOSH COMEAU'S RESET 
   =================== */
   
/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
	min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: black; */
}

/* ===================
   END OF RESET 
   =================== */

body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #207705;
  padding: 0 1rem;
}

.header a {
  color: white;
}

.nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main {
  flex: 1;
  padding: 1rem;
}

.sub-title {
  font-size: 2rem;
  margin-block-end: 2rem;
}

.msg-link {
  display: block;
  margin-block-end: 2rem;
  color: #333;
  padding: 1rem;
}

.msg-link:hover {
  background-color: #ebeaea;

}

.footer {
  padding: 1rem;
  background-color: #207705;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


