/* ===================
   JOSH COMEAU'S RESET 
   =================== */
   
/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
	min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: black; */
}

/* ===================
   END OF RESET 
   =================== */

:root {
  --clr-accent: #207705;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--clr-accent);
  padding: 0 1rem;
}

.header a {
  color: white;
}

.nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main {
  flex: 1;
  padding: 1rem;
}

.sub-title {
  font-size: 2rem;
  margin-block-end: 2rem;
}

.msg-link {
  display: block;
  color: #333;
  padding: 1.5rem;
}

.msg-link:hover {
  background-color: #ebeaea;

}

.footer {
  padding: 1rem;
  background-color: var(--clr-accent);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form styles */
.form {
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.form label,
.form input {
  width: 100%;
  

}

.form label {
  font-size: 1.5rem;
  /* margin-block-end: 1rem; */
}

.form input {
  margin-block-start: 0.5rem;
  padding: 0.3rem 0.7rem;
}

.form button {
  background-color: var(--clr-accent);
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 3rem;
  cursor: pointer;
  border: transparent;
  margin-block-start: 1rem;
}

.msg-text {
  margin-block-end: 0.5rem;

}

.msg-heading {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}
