<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="main">
      <h2 class="sub-title">New Message</h2>

      <!-- Show validation errors -->
      <%- include("../partials/errors.ejs") %>

      <!-- New message form -->
      <form action="/new-msg" method="post" class="form">
        <label>
          Name
          <input type="text" name="username" required  />
        </label>
        <label>
          Message
          <input type="text" name="message"  required/>
        </label>
        <button>Send</button>
      </form>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
